---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-named-parameter

WarningsAsErrors: "*"

HeaderFilterRegex: "^.*include/thefblas/.*$"

FormatStyle: file

CheckOptions:
  - key: readability-identifier-naming.NamespaceCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
